<h1>Contact Information for <%=@name.capitalize%></h1>

<section>
  <p>Phone: <%=@phone%></p>
  <p>Email: <%=@email%></p>
</section>

<div>
  <a href="/<%=@category%>/<%=@name%>/edit">Edit Contact</a>
</div>

<div>
  <a href="/index">Back to Contacts List</a>
</div>
