<h1><%=session[:username]%>'s Contacts:</h1>

<section>
  <h3>Family</h3>
  <%if has_contacts?(:family)%>
    <ul>
      <% @contact_list[:family].keys.each do |member|%>
        <li>
          <a href="/family/<%=member%>"><%=member.capitalize%></a>

          <form action="/index/family/<%=member%>/delete" method="post">
            <button type="submit">Delete</button>
          </form>
        </li>
      <%end%>
    </ul>
  <%end%>
</section>

<section>
  <h3>Friends</h3>
  <% if has_contacts?(:friends)%>
    <ul>
      <% @contact_list[:friends].keys.each do |friend|%>
        <li>
          <a href="/friends/<%=friend%>"><%=friend.capitalize%></a>

          <form action="/index/friends/<%=friend%>/delete" method="post">
            <button type="submit">Delete</button>
          </form>

        </li>
      <%end%>
    </ul>
  <%end%>
</section>

<section>
  <h3>Work</h3>
  <% if has_contacts?(:work)%>
    <ul>
      <% @contact_list[:work].keys.each do |coworker|%>
        <li>
          <a href="/work/<%=coworker%>"><%=coworker.capitalize%></a>

          <form action="/index/work/<%=coworker%>/delete" method="post">
            <button type="submit">Delete</button>
          </form>
        </li>
      <%end%>
    </ul>
  <%end%>
</section>

<a href="/contact/new">Add New Contact</a>
